/* Google Fonts Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

/* Top banner styles are here  */
.top-banner{
    padding: 10px 120px ;
    display: flex;
    gap: 200px;
}
.top-banner h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-photo img{
    width: 100%;
}
.banner-photo{
    background-image: url(./../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.click-button{
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    border: 2px solid gray;
    border-radius: 20px;
}
.fa-solid{
    margin-left:  15px;
}

/* Logo Section Styles are here  */

.logo-section{
    Width: 1110px;
    Height: 110px;
    padding: 50px 165px ;
    display: flex;
    flex-direction: row;
}
.logo-icons img{
    margin-right: 65px;
}

/* Popular collection section here  */

.popular-collection{
    padding: 0px 230px;
    width: 1047px;
    height: 1662px;
}
.carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.cart img{
    width: 300px;
    height: 256px;
    
}
.cart{
    box-shadow: 0px 0px 10px 2px rgb(237, 236, 236);
    border-radius: 5px;
    padding: 15px;
}
.cart p{
    font-size: 12px;
    opacity: 80%;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    color: #E02C6D;
}
/*<------------------- Featured Sections Styles Are Here -------> */

.featured-section{
    width: 1110px;
    height: 270px;
    padding: 100px 165px;
    display: flex;
    gap: 96px;
}
.featured-info h2{
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
}

/* Footer Styles Are  Here  */
footer{
    height: 239px;
    background-color: #0A0826;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media Quries Are Here  */

@media screen and (max-width: 688px) {

    header{
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul{
        height: 230px;
        flex-direction: column;
        text-align: center;
    }
    .top-banner{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10%;
    }
    .logo-section{
        width: 100%;
        flex-direction: column;
        padding: 30px;
    }
    .popular-collection{
        width: 100%;
        padding: 10%;
    }
    .carts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);;
    }
    .cart{
        width: 90%;
    }
    .cart img{
        width: 50%;
        height: 50%;
    }
}